.grid-container{
	display: inline-grid;
	grid-template-columns: 216px 72px 72px 72px 72px 72px 72px 72px 72px 72px;
	grid-template-rows: 150px 45px 56px 45px 45px 45px 45px 45px;
	grid-gap: 0px 0px;
}

.grid-item{
	vertical-align: middle;
	border: 1px solid #D3D9DD;
}

#vote-table{
	background-color: #FCECE8;
}

img {
	max-height: 100%;
	max-width: 100%;
}